* {
  box-sizing: border-box;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&family=Roboto+Slab:wght@300&display=swap');

/* CSS for navigation bar */
nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  }

li {
  display: inline;
  padding-left: 20px;
  }

/* CSS for main content */
body{
  background-color: #dad2ce;
}

main {
  margin: 10%;
}

h1, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  width: 30%;
  height: auto;
}

.social-links {
  margin-top: 5%;
}

/* Responsive design */
@media screen and (min-width: 800px) {
  hr {
    display: none;
  }

  .blog-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "author-date content "
  }

  h4, p {
    margin: 10px;
  }

  img {
    width: 40%;
    height: auto;
  }
}

/* CSS for footer */
footer {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  bottom: 0;
}