/* CSS for main content */
img {
  width: 30%;
  height: auto;
}

.social-links {
  margin-top: 5%;
}

/* Responsive design */
@media screen and (min-width: 800px) {
  hr {
    display: none;
  }

  .blog-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "author-date content "
  }

  h4, p {
    margin: 10px;
  }

  img {
    width: 40%;
    height: auto;
  }
}