* {
  box-sizing: border-box;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&family=Roboto+Slab:wght@300&display=swap');

/* CSS for navigation bar */
nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

ul {
  list-style-type: none;
  }

li {
  display: inline;
  padding-left: 10px;
  }

/* CSS for main content */
body{
  background-color: #dad2ce;
}

main {
  margin: 10%;
}

h1, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  width: 40px;
  height: 40px;
  }

/* CSS for footer */
footer {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  bottom: 0;
}