* {
  box-sizing: border-box;
}

nav {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  }

li {
  display: inline;
  padding-left: 20px;
  }

  .contact {
    margin-top: 10%;
    margin-left: 10%;
  }


  footer {
    position: fixed;
    bottom: 0;
  }

img {
  width: 40px;
  height: 40px;
}

.social-links {
  margin-top: 5%;
}