/* CSS for main content */
#profileimg {
  width: 100%;
  height: auto;
}

img {
  width: 40px;
  height: 40px;
  margin: 15px;
}

h1 {
  margin: 20px;
}

p {
  margin: 10px;
}

/* Responsive design */
@media screen and (min-width: 800px) {
  main {
    margin: 10%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:
    "text image"
  }
  .text {
    grid-area: text;
    text-align: center;
   }
   
   .image {
    grid-area: image;
   }
}