/* CSS for main content */
.position {
  font-size: 14px;
}

.date {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 12px;
}

.review-container {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}

.review {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

/* Responsive design */
@media screen and (min-width: 800px) {
  .review {
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 40%;
  }
}