* {
  box-sizing: border-box;
  margin: 0;
}
  
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&family=Roboto+Slab:wght@300&display=swap');
  
/* CSS for navigation bar */
nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  background-color: black;
  margin: 0;
  letter-spacing: 1px;
}
  
ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  margin-left: -40px;
}

li {
  display: inline;
  padding-left: 10px;
  color: white;
  margin: 10px;
}

nav a:link{
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bolder;
}

nav a:visited{
  color:white;
}

/* CSS for background color */
body{
  background-color: whitesmoke;
  height: 100%;
}

main {
  margin: 10%;
}

h1, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* CSS for footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  height: 60px;
  padding: 15px;
  }
  
h6 {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}